.App {
  /* text-align: center; */
  background-color: rgb(14, 13, 13);
  color: white;
}

a {
  color: rgb(21, 23, 48);
}
a:hover {
  color:rgb(98, 167, 29)
}

h3 a {
  color: chartreuse;
}
h3 a:hover {
  color: white;
}

body {
  background-color: rgb(14, 13, 13)
}



